@charset "UTF-8";
/*
* Trunk version 2.0.1
*/
/*
* Contexts
*/
@font-face {
    font-family: 'Renouveau';
    src: url('/fonts/Renoveau.otf') format('opentype');
    font-weight: normal	;
    font-style: normal;
}

 .context-dark, .context-dark h2, .context-dark h3, .context-dark h4, .context-dark h5, .context-dark h6 {
	color: #ffffff;
}

a:focus,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0;
}

*:focus {
	outline: none;
}


button {
	outline: none;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	display: block;
}

html p a:hover {
	text-decoration: none;
}

/*
* Typography
*/
body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	line-height: 1.66667;
	font-weight: 300;
	background-color: #252423;
	letter-spacing: -0.03em;
	-webkit-font-smoothing: subpixel-antialiased;
}

 h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'PT Serif', 'Times New Roman', Times, serif;
	font-weight: 700;
	color: #151515;
	letter-spacing: 0;
}

 h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h2 {
	font-size: 28px;
	line-height: 1.5;
}

@media (min-width: 1200px) {
	h2 {
		font-size: 45px;
		line-height: 1.2;
	}
}

h3 {
	font-size: 24px;
	line-height: 1.5;
}

@media (min-width: 1200px) {
	h3 {
		font-size: 36px;
		line-height: 1.33333;
	}
}

h4 {
	font-size: 22px;
	line-height: 1.5;
}

@media (min-width: 1200px) {
	h4 {
		font-size: 26px;
		line-height: 1.38462;
	}
}

h5 {
	font-size: 18px;
	line-height: 1.05556;
}

h6 {
	font-size: 15px;
	line-height: 1.06667;
}

p [style*='max-width'] {
	display: inline-block;
}

/*
* Brand
*/

/*
* Links
*/
a {
	transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}


/*
* Blocks
*/

/*
* Boxes
*/

.box-icon-inner {
	position: relative;
}

.box-icon-inner > * {
	position: relative;
	z-index: 1;
}

.box-icon-inner:before {
	position: absolute;
	top: 33%;
	left: 56%;
	content: '';
	z-index: 0;
}

.box-icon-inner.decorate-triangle:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 18px 10px;
	border-color: transparent transparent #D0EFD5 transparent;
	transform: rotate(137.76deg) translate(0, 0);
	will-change: transform;
	transition: all .6s;
}

.box-icon-inner.decorate-circle:before {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #D0EFD5;
	transform: translate(0, 0);
	will-change: transform;
	transition: all .6s;
}

.box-icon-inner.decorate-rectangle:before {
	width: 16px;
	height: 16px;
	transform: translateY(0) rotate(45deg);
	background: #D0EFD5;
	will-change: transform;
	transition: all .6s;
}

.box-icon-caption h4 {
	font-weight: 500;
}

.box-icon-caption * + p {
	margin-top: 20px;
}

.box-icon-modern {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.box-icon-modern > * + * {
	margin-top: 25px;
}

@media (min-width: 576px) {
	.box-icon-modern {
		flex-direction: row;
		text-align: left;
	}
	.box-icon-modern > * + * {
		margin-top: 0;
		margin-left: 30px;
	}
	.box-icon-modern .box-icon-inner:before {
		left: 85%;
	}
}

.box-icon-modern .box-icon-caption * + p {
	margin-top: 5px;
}

.box-icon-modern .decorate-triangle:before {
	border-width: 0 12px 22px 12px;
}

.box-icon-modern .decorate-circle:before {
	width: 24px;
	height: 24px;
}

.box-icon-modern .decorate-rectangle:before {
	width: 20px;
	height: 20px;
}

.box-icon-modern:hover .decorate-triangle:before {
	transform: rotate(175deg) translate(15px, 15px);
}

.box-icon-modern:hover .decorate-circle:before {
	transform: translate(-45px, 2px);
}

.box-icon-modern:hover .decorate-rectangle:before {
	transform: rotate(-90deg) translateY(-40px);
}

/*
*  testimonials
*/

/*
*  testimonials
*/
.testimonials-modern {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) {
	.testimonials-modern {
		width: 650px;
	}
}

@media (min-width: 1200px) {
	.testimonials-modern {
		width: 820px;
	}
}

.testimonials-modern .testimonials-modern-text {
	font-style: italic;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: .08em;
}

/*
*  Gallery items
*/

/*
*  pricing
*/

/*
*  Events
*/

.clients-default {
	display: block;
	text-align: center;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.clients-default:hover {
	background: #ffffff;
	box-shadow: 0 0 25px rgba(21, 21, 21, 1);
}

/*
* Element groups
*/

/*
* Responsive units
*/

/*
* Lists
*/
/*
* Vertical list
*/

/*
* List inline
*/

/*
* List terms
*/

/*
* Index list
*/

/*
* Marked list
*/

/*
* Ordered List
*/

/*
* Images
*/
img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.bg-labestia {
	background: #c8d9c0;
}
.bg-labestiaB{
	background: #69815d;
	padding-bottom: 30px;
}

/*
* Icons
*/
.icon {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
}

.icon::before {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
}

.icon-xl {
	font-size: 90px;
	line-height: 1;
}

/*
* Tables custom
*/

/*
* Dividers
*/

/*
* Buttons
*/
.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 14px 35px;
	font-size: 15px;
	line-height: 1.25;
	border: 1px solid;
	border-radius: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
}

/*
* Form styles
*/

/*
* Posts
*/

/*
* Quotes
*/

/*
* Thumbnails
*/

/*
* Breadcrumbs
*/

/*
* Pagination custom
*/

/*
* Snackbars
*/

/*
* Page layout
*/

/*
* Text styling
*/

@font-face {
	font-family: 'TuesdayNigrh';
	src: url("../fonts/TuesdayNight-Regular.otf");
}

@font-face {
	font-family: 'Henrik';
	src: url("../fonts/Henrik-Regular.otf");
	src: url("../fonts/Henrik-Regular.woff") format("woff");
}

.text-uppercase {
	text-transform: uppercase;
}

/*
* Offsets
*/
* + p {
	margin-top: 15px;
}

h2 + p {
	margin-top: 30px;
}

p + h2 {
	margin-top: 15px;
}

p + p {
	margin-top: 15px;
}

p + img {
	margin-top: 30px;
}

img + p {
	margin-top: 15px;
}

h3 + img {
	margin-top: 42px;
}

h3 + p {
	margin-top: 28px;
}

* + .row {
	margin-top: 30px;
}

* + .button {
	margin-top: 30px;
}

h3 + .button {
	margin-top: 37px;
}

* + .row {
	margin-top: 60px;
}

.row + h3 {
	margin-top: 80px;
}

.container + .container {
	margin-top: 35px;
}

.row + .row {
	margin-top: 35px;
}

@media (min-width: 1200px) {
	.container + .container {
		margin-top: 60px;
	}
	.row + .row {
		margin-top: 60px;
	}
}

.row-30 {
	margin-bottom: -30px;
}

.row-30:empty {
	margin-bottom: 0;
}

.row-30 > * {
	margin-bottom: 30px;
}

.row-50 {
	margin-bottom: -50px;
}

.row-50:empty {
	margin-bottom: 0;
}

.row-50 > * {
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	.row-md-60 {
		margin-bottom: -60px;
	}
	.row-md-60:empty {
		margin-bottom: 0;
	}
	.row-md-60 > * {
		margin-bottom: 60px;
	}
}

/*
* Sections
*/


.section-md,
.section-lg,
.section-xl {
	padding: 50px 0;
}

@media (max-width: 991.98px) {
	
	section.section-md:first-of-type,
	section.section-lg:first-of-type,
	section.section-xl:first-of-type {
		padding-top: 40px;
	}
}

@media (min-width: 768px) {
	.section-md {
		padding: 70px 0;
	}
	.section-lg {
		padding: 85px 0;
	}
	.section-xl {
		padding: 100px 0;
	}
}

@media (min-width: 992px) {
	.section-md {
		padding: 80px 0 90px;
	}
	.section-lg {
		padding: 100px 0;
	}
	.section-xl {
		padding: 115px 0;
	}
}

@media (min-width: 1200px) {
	.section-lg {
		padding: 115px 0;
	}
	.section-xl {
		padding: 135px 0;
	}
}

@keyframes bunner-img {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
	50% {
		transform: translate3d(0, 0, 0) rotate(1deg) scale(1.02);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
}

/*
* Grid modules
*/

/*
* Backgrounds
*/

 .context-dark .box-icon-caption p {
	color: rgba(255, 255, 255, 0.8);
}

 .context-dark .decorate-triangle:before {
	border-color: transparent transparent rgba(255, 255, 255, 0.08) transparent;
}

 .context-dark .decorate-circle:before, .context-dark .decorate-rectangle:before {
	background: rgba(255, 255, 255, 0.08);
}

/*
* Light Backgrounds
*/

/*
* Dark Backgrounds
*/

.bg-dark-filter {
	position: relative;
}

.bg-dark-filter > * {
	position: relative;
	z-index: 1;
}

.bg-dark-filter:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, rgba(11, 11, 11, 0.36) 51.93%, rgba(21, 21, 21, 0.34) 100%);
}

.bg-dark-filter-2::before {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0.63) 100%);
}

/*
* Accent Backgrounds
*/

/*
* Background Image
*/
[class*='bg-'] {
	background-size: cover;
	background-position: center center;
}

/*
* Utilities custom
*/

/*
*
* Animate.css
*/

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideOutDown {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes slideOutDown {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}


/*
*
* Swiper
*/

/* a11y */

/* IE10 Windows Phone 8 Fixes */

/* Coverflow */

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

/*
*
* Isotope
*/
@keyframes sprite-animation {
	from {
		background-position: 0 0;
	}
}

/*
*
* Tooltop Custom
*/

/*
*
* Owl Carousel
*/

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@font-face {
	font-family: lg;
	src: url(../fonts/lg.eot?n1z373);
	src: url(../fonts/lg.eot?#iefixn1z373) format("embedded-opentype"), url(../fonts/lg.woff?n1z373) format("woff"), url(../fonts/lg.ttf?n1z373) format("truetype"), url(../fonts/lg.svg?n1z373#lg) format("svg");
	font-weight: 400;
	font-style: normal;
}

@-webkit-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-moz-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-ms-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-webkit-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@-moz-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@-ms-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@font-face {
	font-family: lg;
	src: url(../fonts/lg.eot?n1z373);
	src: url(../fonts/lg.eot?#iefixn1z373) format("embedded-opentype"), url(../fonts/lg.woff?n1z373) format("woff"), url(../fonts/lg.ttf?n1z373) format("truetype"), url(../fonts/lg.svg?n1z373#lg) format("svg");
	font-weight: 400;
	font-style: normal;
}

@-webkit-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-moz-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-ms-keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@keyframes lg-right-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: -30px;
	}
}

@-webkit-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@-moz-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@-ms-keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

@keyframes lg-left-end {
	0%, 100% {
		left: 0;
	}
	50% {
		left: 30px;
	}
}

/*
* Material Parallax
*/

.parallax-content {
	position: relative;
	z-index: 1;
}

/*
*
* Slick Carousel
*/
/*rtl:begin:ignore*/

/* Icons */
/* Arrows */

/* Dots */

/*rtl:end:ignore*/

/**
 * Select 2
 */
